@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
* {
  box-sizing: border-box; }

body, ul, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:visited {
    color: black; }
  a:hover {
    color: black; }

body {
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif; }

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 100px; }

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 60px;
  margin-bottom: 20px; }

.todo {
  background-color: white; }

.todolist-wrapper {
  width: 60%;
  margin: 0 auto;
  text-align: center; }
  .todolist-wrapper .todolist {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: white;
    border: thin solid gainsboro;
    border-radius: 5px; }

.new-todo-item {
  width: 80%;
  display: inline-block; }
  .new-todo-item input {
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300; }
    .new-todo-item input:focus {
      outline: 0; }

.todolist-top {
  border-bottom: thin solid #c2c2c2;
  padding-bottom: 5px;
  padding-top: 5px; }
  .todolist-top #complete-all {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: color .3s ease;
    color: #c2c2c2; }
    .todolist-top #complete-all:hover {
      color: #1EA862; }

.todolist-mid section {
  transition: all .4s ease; }

.todo-controls {
  padding: 10px;
  border-top: thin solid #c2c2c2;
  font-size: 10px;
  text-align: center;
  color: #cfcfcf; }
  .todo-controls .count {
    float: left; }
  .todo-controls .clear-compl {
    float: right; }
  .todo-controls span a {
    color: #cfcfcf;
    margin-right: 10px;
    padding: 4px;
    border: thin solid rgba(255, 255, 255, 0); }
    .todo-controls span a:hover {
      border: thin solid #e8e8e8;
      border-radius: 4px;
      color: black; }
  .todo-controls span a:last-child {
    margin-right: 0px; }

span a.control-active {
  border: thin solid #c2c2c2;
  border-radius: 4px;
  color: black; }

.task.complete input {
  text-decoration: line-through;
  color: #c2c2c2; }

.task {
  height: 40px;
  padding-top: 8px;
  vertical-align: middle;
  border-bottom: thin solid #f5f5f5; }
  .task:hover > i.fa-close {
    visibility: visible; }
  .task i.fa-close, .task i.fa-circle-o {
    cursor: pointer;
    color: gainsboro; }
  .task i.fa-circle-o {
    visibility: visible; }
  .task i.fa-circle-o {
    margin-left: 10px;
    margin-right: 10px; }
    .task i.fa-circle-o:hover {
      color: #1EA862; }
  .task i.fa-check {
    margin-left: 10px;
    margin-right: 8px;
    color: #1EA862;
    cursor: pointer; }
  .task i.fa-close {
    display: hidden;
    margin-right: 10px;
    color: #A8253B;
    opacity: .4;
    visibility: hidden;
    transition: opacity .5s ease; }
    .task i.fa-close:hover {
      opacity: 1; }
  .task input {
    width: 82%;
    border: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    vertical-align: top;
    border: thin solid transparent;
    color: darkgray; }
    .task input:focus {
      outline: 0; }

input.inedit {
  color: black; }

.addlist-wrapper {
  margin-top: 10px;
  margin-right: 10px;
  color: darkgray;
  text-align: right;
  cursor: pointer; }
  .addlist-wrapper i.fa.fa-plus {
    transition: color .5s ease; }
  .addlist-wrapper span {
    vertical-align: bottom;
    font-size: 13px;
    opacity: 0;
    transition: all .5s ease; }
  .addlist-wrapper:hover > span {
    opacity: 1;
    color: #4ddf95; }
  .addlist-wrapper:hover > i {
    color: #4ddf95; }

.hidden {
  display: none; }

/*# sourceMappingURL=compiled.css.map */
